<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6332efefc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Css/style.css">
    <title>Notes-app</title>
</head>

<body>
    <main>
        <nav>
            <a href="/" class="web-title">Take A Note</a>
            <div class="nav-btn">
                <ul>
                    <li><a href="/user/signup">SignUp</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-container">
            <div class="left-container">
                <div class="home-description">
                    <h1 class="description-tittle">Organize Your <span class="span1">Thoughts, </span>Anytime And Anywhere</h1>
                    <p class="description-para">In today's fast-paced world, keeping track of your ideas, tasks, and inspirations can be a
                        challenge. Our Note-Taking App is designed to help you capture your
                        thoughts effortlessly, whether you're on the go or at your desk.
                    </p>
                    <a href="/user/signup" class="create-new-btn">Create a Note</a>
                </div>
            </div>
            <div class="right-container">
                <img src="../assets/Images/29808799_7605614.jpg" alt="Note-taking-image">
            </div>
        </div>

    </main>
</body>

</html>